// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * Device Tree file for Altos RCU V1
 * Copyright (C) 2026 Altos Radar
 */

/dts-v1/;

#include "k3-j722s-altos-v3-base.dtsi"

/ {
	model = "Altos RCU V1";
	csi_vc0: csi-vc0 {
		compatible = "csi-vc";
		port {
			csi0_vc0_ep: endpoint {
				remote-endpoint = <&rf_ser1_b_ep>;
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};

	csi_vc1: csi-vc1 {
		compatible = "csi-vc";
		port {
			csi1_vc0_ep: endpoint {
				remote-endpoint = <&rf_ser1_d_ep>;
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};

	csi_vc2: csi-vc2 {
		compatible = "csi-vc";
		port {
			csi2_vc0_ep: endpoint {
				remote-endpoint = <&rf_ser2_b_ep>;
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};

	csi_vc3: csi-vc3 {
		compatible = "csi-vc";
		port {
			csi3_vc0_ep: endpoint {
				remote-endpoint = <&rf_ser2_d_ep>;
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};

	main_pwm2: dmtimer-main-pwm-2 {
		compatible = "ti,omap-dmtimer-pwm";
		#pwm-cells = <3>;
		ti,timers = <&main_timer2>;
	};

	main_pwm3: dmtimer-main-pwm-3 {
		compatible = "ti,omap-dmtimer-pwm";
		#pwm-cells = <3>;
		ti,timers = <&main_timer3>;
	};
};

&main_pmx0 {
	main_i2c0_pins_default: main-i2c0-default-pins {
		pinctrl-single,pins = <
			J722S_IOPAD(0x01e0, PIN_INPUT_PULLUP, 0) /* (D23) I2C0_SCL */
			J722S_IOPAD(0x01e4, PIN_INPUT_PULLUP, 0) /* (B22) I2C0_SDA */
		>;
	};

	main_i2c1_pins_default: main-i2c1-default-pins {
		pinctrl-single,pins = <
			J722S_IOPAD(0x01e8, PIN_INPUT_PULLUP, 0) /* (C24) I2C1_SCL */
			J722S_IOPAD(0x01ec, PIN_INPUT_PULLUP, 0) /* (A22) I2C1_SDA */
		>;
	};

	serdes1_pins_default: serdes1-default-pins {
		pinctrl-single,pins = <
			J722S_IOPAD(0x0198, PIN_INPUT, 7)  /* (A26) MCASP0_AXR2.GPIO1_8 */
			J722S_IOPAD(0x0230, PIN_OUTPUT, 2) /* (H23) MMC1_DAT0.TIMER_IO3 */
			J722S_IOPAD(0x01c0, PIN_OUTPUT, 7) /* (E19) SPI0_D0.GPIO1_18 */
		>;
	};

	serdes2_pins_default: serdes2-default-pins {
		pinctrl-single,pins = <
			J722S_IOPAD(0x0194, PIN_INPUT, 7)  /* (A25) MCASP0_AXR3.GPIO1_7 */
			J722S_IOPAD(0x022c, PIN_OUTPUT, 2) /* (H20) MMC1_DAT1.TIMER_IO2 */
			J722S_IOPAD(0x01c4, PIN_OUTPUT, 7) /* (E20) SPI0_D1.GPIO1_19 */
		>;
	};
};

&mcu_pmx0 {
	mcu_serdes1_pins_default: mcu-serdes1-default-pins {
		pinctrl-single,pins = <
			J722S_MCU_IOPAD(0x034, PIN_INPUT, 7)   /* (B2) MCU_MCAN0_TX.MCU_GPIO0_13 */
			J722S_MCU_IOPAD(0x038, PIN_INPUT_PULLUP, 7)   /* (D8) MCU_MCAN0_RX.MCU_GPIO0_14 */
			J722S_MCU_IOPAD(0x004, PIN_INPUT_PULLDOWN, 7)   /* (A10) MCU_SPI0_CS1.MCU_GPIO0_1 */
			J722S_MCU_IOPAD(0x000, PIN_OUTPUT, 7)  /* (C12) MCU_SPI0_CS0.MCU_GPIO0_0 */
		>;
	};

	mcu_serdes2_pins_default: mcu-serdes2-default-pins {
		pinctrl-single,pins = <
			J722S_MCU_IOPAD(0x03c, PIN_INPUT, 7)   /* (C1) MCU_MCAN1_TX.MCU_GPIO0_15 */
			J722S_MCU_IOPAD(0x02c, PIN_INPUT_PULLUP, 7)   /* (C4) WKUP_UART0_CTSN.MCU_GPIO0_11 */
			J722S_MCU_IOPAD(0x014, PIN_INPUT_PULLDOWN, 7)   /* (B8) MCU_UART0_RXD.MCU_GPIO0_5 */
			J722S_MCU_IOPAD(0x018, PIN_OUTPUT, 7)  /* (B4) MCU_UART0_TXD.MCU_GPIO0_6 */
		>;
	};

	mcu_spi0_pins_default: mcu-spi0-default-pins {
		pinctrl-single,pins = <
			J722S_MCU_IOPAD(0x008, PIN_OUTPUT, 0)   /* (A9) MCU_SPI0_CLK */
			J722S_MCU_IOPAD(0x00C, PIN_INPUT, 0)    /* (B12) MCU_SPI0_D0 */
			J722S_MCU_IOPAD(0x010, PIN_OUTPUT, 0)   /* (C11) MCU_SPI0_D1 */
		>;
	};

	mcu_spi1_pins_default: mcu-spi1-default-pins {
		pinctrl-single,pins = <
			J722S_MCU_IOPAD(0x040, PIN_OUTPUT, 4)	/* (B1) MCU_MCAN1_RX.MCU_SPI1_CLK */
			J722S_MCU_IOPAD(0x01c, PIN_INPUT, 3)	/* (B5) MCU_UART0_CTSN.MCU_SPI1_D0 */
			J722S_MCU_IOPAD(0x020, PIN_OUTPUT, 3)	/* (C5) MCU_UART0_RTSN.MCU_SPI1_D1 */
		>;
	};
};

&cpsw3g_phy0 {
	reset-gpios = <&main_gpio1 17 GPIO_ACTIVE_LOW>;
	reset-assert-us = <1000>;
	reset-deassert-us = <1000>;
};

&main_i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&main_i2c0_pins_default>, <&serdes1_pins_default>, <&mcu_serdes1_pins_default>;
	clock-frequency = <400000>;

	gmsl-deserializer@28 {
		compatible = "maxim,max96716a";
		reg = <0x28>;
		powerdown-gpios = <&main_gpio1 18 GPIO_ACTIVE_LOW>;
		vdd-supply = <&vsys_io_1v2>;

		i2c-alias-pool = <0x41 0x42>;
		pinctrl-names = "default";
		pinctrl-0 =
			<&des1_mfp1>,
			<&des1_mfp2>,
			<&des1_mfp3>,
			<&des1_mfp4>,
			<&des1_mfp8>;

		des1_mfp1: des1-mfp1 {
			pins = "mfp1";
			function = "gpio";
			drive-push-pull;
			output-enable;
			bias-disable;
			maxim,rx-id-a = <18>;
		};
		des1_mfp2: des1-mfp2 {
			pins = "mfp2";
			function = "gpio";
			drive-push-pull;
			output-enable;
			bias-disable;
			maxim,rx-id-b = <20>;
		};
		des1_mfp3: des1-mfp3 {
			pins = "mfp3";
			function = "gpio";
			drive-push-pull;
			output-enable;
			bias-disable;
			maxim,rx-id-a = <17>;
		};
		des1_mfp4: des1-mfp4 {
			pins = "mfp4";
			function = "gpio";
			drive-push-pull;
			output-enable;
			bias-disable;
			maxim,rx-id-b = <19>;
		};
		des1_mfp8: des1-mfp8 {
			pins = "mfp8";
			function = "gpio";
			bias-disable;
			output-disable;
			input-enable;
			maxim,tx-id-a = <16>;
			maxim,tx-id-b = <16>;
			maxim,jitter-compensation-a;
			maxim,jitter-compensation-b;
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				des1_coax_a_ep: endpoint {
					remote-endpoint = <&rf_ser1_a_ep>;
				};
			};
			port@1 {
				reg = <1>;
				des1_coax_b_ep: endpoint {
					remote-endpoint = <&rf_ser1_c_ep>;
				};
			};
			port@2 {
				reg = <2>;
				des1_csi_a_ep: endpoint {
					remote-endpoint = <&csi0_in0>;
					clock-lanes = <0>;
                                        data-lanes = <1 2 3 4>;
                                        link-frequencies = /bits/ 64 <1100000000>;
				};
			};
			port@3 {
				reg = <3>;
				des1_csi_b_ep: endpoint {
					remote-endpoint = <&csi1_in0>;
					clock-lanes = <0>;
                                        data-lanes = <1 2 3 4>;
                                        link-frequencies = /bits/ 64 <1100000000>;
				};
			};
		};

		i2c-atr {
			#address-cells = <1>;
			#size-cells = <0>;

			i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				rf_ser1_a: gmsl-serializer@40 {
					compatible = "maxim,max96717";
					reg = <0x40>;

					i2c-alias-pool = <0x51 0x52>;

					gpio-controller;
					#gpio-cells = <2>;
					gpio-ranges = <&rf_ser1_a 0 0 11>;

					pinctrl-names = "default";
					pinctrl-0 =
						<&ser1_a_mfp3>,
						<&ser1_a_mfp5>,
						<&ser1_a_mfp6>;

					ser1_a_mfp3: ser1-mfp3 {
						pins = "mfp3";
						function = "gpio";
						drive-push-pull;
						output-enable;
						bias-disable;
						maxim,rx-id = <16>;
					};
					ser1_a_mfp5: ser1-mfp5 {
						pins = "mfp5";
						function = "gpio";
						bias-disable;
						output-disable;
						input-enable;
						maxim,tx-id = <17>;
					};
					ser1_a_mfp6: ser1-mfp6 {
						pins = "mfp6";
						function = "gpio";
						bias-disable;
						output-disable;
						input-enable;
						maxim,tx-id = <18>;
					};

					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							rf_ser1_b_ep: endpoint {
								remote-endpoint = <&csi0_vc0_ep>;
								data-lanes = <1 2 3 4>;
							};
						};
						port@1 {
							reg = <1>;
							rf_ser1_a_ep: endpoint {
								remote-endpoint = <&des1_coax_a_ep>;
							};
						};
					};

					i2c-atr {
						#address-cells = <1>;
						#size-cells = <0>;

						i2c@0 {
							#address-cells = <1>;
							#size-cells = <0>;
							reg = <0>;
							dummy@60 {
								compatible = "dummy";
								reg = <0x60>;
							};
							dummy@50 {
								compatible = "dummy";
								reg = <0x50>;
							};
						};
					};
				};
			};
			i2c@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;

				rf_ser1_b: gmsl-serializer@40 {
					compatible = "maxim,max96717";
					reg = <0x40>;

					i2c-alias-pool = <0x61 0x62>;

					gpio-controller;
					#gpio-cells = <2>;
					gpio-ranges = <&rf_ser1_b 0 0 11>;

					pinctrl-names = "default";
					pinctrl-0 =
						<&ser1_b_mfp3>,
						<&ser1_b_mfp5>,
						<&ser1_b_mfp6>;

					ser1_b_mfp3: ser1-mfp3 {
						pins = "mfp3";
						function = "gpio";
						drive-push-pull;
						output-enable;
						bias-disable;
						maxim,rx-id = <16>;
					};
					ser1_b_mfp5: ser1-mfp5 {
						pins = "mfp5";
						function = "gpio";
						bias-disable;
						output-disable;
						input-enable;
						maxim,tx-id = <19>;
					};

					ser1_b_mfp6: ser1-mfp6 {
						pins = "mfp6";
						function = "gpio";
						bias-disable;
						output-disable;
						input-enable;
						maxim,tx-id = <20>;
					};

					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							rf_ser1_d_ep: endpoint {
								remote-endpoint = <&csi1_vc0_ep>;
								data-lanes = <1 2 3 4>;
							};
						};
						port@1 {
							reg = <1>;
							rf_ser1_c_ep: endpoint {
								remote-endpoint = <&des1_coax_b_ep>;
							};
						};
					};

					i2c-atr {
						#address-cells = <1>;
						#size-cells = <0>;

						i2c@0 {
							#address-cells = <1>;
							#size-cells = <0>;
							reg = <0>;
							dummy@60 {
								compatible = "dummy";
								reg = <0x60>;
							};
							dummy@50 {
								compatible = "dummy";
								reg = <0x50>;
							};
						};
					};
				};
			};
		};
	};
};

&main_i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&main_i2c1_pins_default>, <&serdes2_pins_default>, <&mcu_serdes2_pins_default>;
	clock-frequency = <400000>;

	gmsl-deserializer@28 {
		compatible = "maxim,max96716a";
		reg = <0x28>;
		powerdown-gpios = <&main_gpio1 19 GPIO_ACTIVE_LOW>;
		vdd-supply = <&vsys_io_1v2>;

		i2c-alias-pool = <0x41 0x42>;
		pinctrl-names = "default";
		pinctrl-0 =
			<&des2_mfp1>,
			<&des2_mfp2>,
			<&des2_mfp3>,
			<&des2_mfp4>,
			<&des2_mfp8>;

		des2_mfp1: des2-mfp1 {
			pins = "mfp1";
			function = "gpio";
			drive-push-pull;
			output-enable;
			bias-disable;
			maxim,rx-id-a = <18>;
		};
		des2_mfp2: des2-mfp2 {
			pins = "mfp2";
			function = "gpio";
			drive-push-pull;
			output-enable;
			bias-disable;
			maxim,rx-id-b = <20>;
		};
		des2_mfp3: des2-mfp3 {
			pins = "mfp3";
			function = "gpio";
			drive-push-pull;
			output-enable;
			bias-disable;
			maxim,rx-id-a = <17>;
		};
		des2_mfp4: des2-mfp4 {
			pins = "mfp4";
			function = "gpio";
			drive-push-pull;
			output-enable;
			bias-disable;
			maxim,rx-id-b = <19>;
		};
		des2_mfp8: des2-mfp8 {
			pins = "mfp8";
			function = "gpio";
			bias-disable;
			output-disable;
			input-enable;
			maxim,tx-id-a = <16>;
			maxim,tx-id-b = <16>;
			maxim,jitter-compensation-a;
			maxim,jitter-compensation-b;
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				des2_coax_a_ep: endpoint {
					remote-endpoint = <&rf_ser2_a_ep>;
				};
			};
			port@1 {
				reg = <1>;
				des2_coax_b_ep: endpoint {
					remote-endpoint = <&rf_ser2_c_ep>;
				};
			};
			port@2 {
				reg = <2>;
				des2_csi_a_ep: endpoint {
					remote-endpoint = <&csi2_in0>;
					clock-lanes = <0>;
                                        data-lanes = <1 2 3 4>;
                                        link-frequencies = /bits/ 64 <1100000000>;
				};
			};
			port@3 {
				reg = <3>;
				des2_csi_b_ep: endpoint {
					remote-endpoint = <&csi3_in0>;
					clock-lanes = <0>;
                                        data-lanes = <1 2 3 4>;
                                        link-frequencies = /bits/ 64 <1100000000>;
				};
			};
		};

		i2c-atr {
			#address-cells = <1>;
			#size-cells = <0>;

			i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				rf_ser2_a: gmsl-serializer@40 {
					compatible = "maxim,max96717";
					reg = <0x40>;

					i2c-alias-pool = <0x51 0x52>;

					gpio-controller;
					#gpio-cells = <2>;
					gpio-ranges = <&rf_ser2_a 0 0 11>;

					pinctrl-names = "default";
					pinctrl-0 = <&ser2_a_mfp3>, <&ser2_a_mfp5>, <&ser2_a_mfp6>;

					ser2_a_mfp3: ser2-mfp3 {
						pins = "mfp3";
						function = "gpio";
						drive-push-pull;
						output-enable;
						bias-disable;
						maxim,rx-id = <16>;
					};
					ser2_a_mfp5: ser2-mfp5 {
						pins = "mfp5";
						function = "gpio";
						bias-disable;
						output-disable;
						input-enable;
						maxim,tx-id = <17>;
					};
					ser2_a_mfp6: ser2-mfp6 {
						pins = "mfp6";
						function = "gpio";
						bias-disable;
						output-disable;
						input-enable;
						maxim,tx-id = <18>;
					};

					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							rf_ser2_b_ep: endpoint {
								remote-endpoint = <&csi2_vc0_ep>;
								data-lanes = <1 2 3 4>;
							};
						};
						port@1 {
							reg = <1>;
							rf_ser2_a_ep: endpoint {
								remote-endpoint = <&des2_coax_a_ep>;
							};
						};
					};

					i2c-atr {
						#address-cells = <1>;
						#size-cells = <0>;

						i2c@0 {
							#address-cells = <1>;
							#size-cells = <0>;
							reg = <0>;
							dummy@60 {
								compatible = "dummy";
								reg = <0x60>;
							};
							dummy@50 {
								compatible = "dummy";
								reg = <0x50>;
							};
						};
					};
				};
			};
			i2c@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;

				rf_ser2_b: gmsl-serializer@40 {
					compatible = "maxim,max96717";
					reg = <0x40>;

					i2c-alias-pool = <0x61 0x62>;

					gpio-controller;
					#gpio-cells = <2>;
					gpio-ranges = <&rf_ser2_b 0 0 11>;

					pinctrl-names = "default";
					pinctrl-0 = <&ser2_b_mfp3>, <&ser2_b_mfp5>, <&ser2_b_mfp6>;

					ser2_b_mfp3: ser2-mfp3 {
						pins = "mfp3";
						function = "gpio";
						drive-push-pull;
						output-enable;
						bias-disable;
						maxim,rx-id = <16>;
					};
					ser2_b_mfp5: ser2-mfp5 {
						pins = "mfp5";
						function = "gpio";
						bias-disable;
						output-disable;
						input-enable;
						maxim,tx-id = <19>;
					};
					ser2_b_mfp6: ser2-mfp6 {
						pins = "mfp6";
						function = "gpio";
						bias-disable;
						output-disable;
						input-enable;
						maxim,tx-id = <20>;
					};

					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							rf_ser2_d_ep: endpoint {
								remote-endpoint = <&csi3_vc0_ep>;
								data-lanes = <1 2 3 4>;
							};
						};
						port@1 {
							reg = <1>;
							rf_ser2_c_ep: endpoint {
								remote-endpoint = <&des2_coax_b_ep>;
							};
						};
					};

					i2c-atr {
						#address-cells = <1>;
						#size-cells = <0>;

						i2c@0 {
							#address-cells = <1>;
							#size-cells = <0>;
							reg = <0>;
							dummy@60 {
								compatible = "dummy";
								reg = <0x60>;
							};
							dummy@50 {
								compatible = "dummy";
								reg = <0x50>;
							};
						};
					};
				};
			};
		};
	};
};

&csi0_port0 {
	status = "okay";

	csi0_in0: endpoint {
		remote-endpoint = <&des1_csi_a_ep>;
		bus-type = <4>; /* CSI2 DPHY */
		clock-lanes = <0>;
		data-lanes = <1 2 3 4>;
	};
};

&csi1_port0 {
	status = "okay";

	csi1_in0: endpoint {
		remote-endpoint = <&des1_csi_b_ep>;
		bus-type = <4>;
		clock-lanes = <0>;
		data-lanes = <1 2 3 4>;
	};
};

&csi2_port0 {
	status = "okay";

	csi2_in0: endpoint {
		remote-endpoint = <&des2_csi_a_ep>;
		bus-type = <4>; /* CSI2 DPHY */
		clock-lanes = <0>;
		data-lanes = <1 2 3 4>;
	};
};

&csi3_port0 {
	status = "okay";

	csi3_in0: endpoint {
		remote-endpoint = <&des2_csi_b_ep>;
		bus-type = <4>;
		clock-lanes = <0>;
		data-lanes = <1 2 3 4>;
	};
};

&ti_csi2rx1 {
	ti,bond = <&ti_csi2rx0>;
};

&ti_csi2rx3 {
	ti,bond = <&ti_csi2rx2>;
};

&mcu_spi0 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&mcu_spi0_pins_default>;
	ti,spi-num-cs = <0>;

	serdes_spi1: spi@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <25000000>;
	};
};

&mcu_spi1 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&mcu_spi1_pins_default>;
	ti,spi-num-cs = <0>;

	serdes_spi2: spi@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <25000000>;
	};
};
