CONFIG_GPIO_SYSFS=y
CONFIG_EXFAT_FS=m
CONFIG_OVERLAY_FS=y
CONFIG_DP83TC811_PHY=y
CONFIG_CSI_VC_SOURCE=m
CONFIG_RPMSG_VIDEOBUF=m
CONFIG_SAMPLE_RPMSG_CLIENT=n

CONFIG_USB_CDNS_SUPPORT=y
CONFIG_USB_CDNS3=y
CONFIG_USB_CDNS3_TI=y
CONFIG_TYPEC=y
CONFIG_TYPEC_TCPM=y
CONFIG_TYPEC_TCPCI=y
CONFIG_TYPEC_FUSB302=y
CONFIG_TYPEC_TPS6598X=n
CONFIG_TYPEC_HD3SS3220=n
CONFIG_TYPEC_DP_ALTMODE=y
CONFIG_MII=y
CONFIG_DRM=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_DISPLAY_HELPER=y
CONFIG_DRM_GEM_DMA_HELPER=y
CONFIG_DRM_CDNS_DSI=y
CONFIG_DRM_TIDSS=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_FB_SYS_FOPS=y

CONFIG_SPI_SPIDEV=y
CONFIG_SPI_OMAP24XX=y

CONFIG_MEDIA_SUPPORT=y
CONFIG_VIDEO_DEV=y
CONFIG_V4L2_FWNODE=y
CONFIG_V4L2_ASYNC=y
CONFIG_VIDEO_CADENCE_CSI2RX=y
CONFIG_VIDEO_TI_J721E_CSI2RX=y
CONFIG_VIDEOBUF2_CORE=y
CONFIG_VIDEOBUF2_V4L2=y
CONFIG_VIDEOBUF2_MEMOPS=y
CONFIG_VIDEOBUF2_DMA_CONTIG=y
CONFIG_VIDEOBUF2_VMALLOC=y
CONFIG_VIDEOBUF2_DMA_SG=y
CONFIG_V4L2_MEM2MEM_DEV=y
CONFIG_PHY_CADENCE_DPHY=y
CONFIG_PHY_CADENCE_DPHY_RX=y
CONFIG_PHY_CAN_TRANSCEIVER=y

CONFIG_HW_RANDOM=y
CONFIG_HW_RANDOM_OMAP=y
CONFIG_HW_RANDOM_OPTEE=y

CONFIG_PWM_TIEHRPWM=y
CONFIG_K3_RTI_WATCHDOG=y
CONFIG_IIO_BUFFER=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_MFD_TI_AM335X_TSCADC=y
CONFIG_TI_AM335X_ADC=y
CONFIG_K3_THERMAL=y
CONFIG_CRYPTO_DEV_SA2UL=y
CONFIG_NFC=n
CONFIG_WLAN=n
CONFIG_WIRELESS=n
CONFIG_BTRFS_FS=n
CONFIG_BT=n
CONFIG_MTD=n
CONFIG_SOUNDWIRE=n
CONFIG_FPGA=n
CONFIG_GPIO_MAX732X=n
CONFIG_GPIO_PCA953X=n
CONFIG_GPIO_BD9571MWV=n
CONFIG_GPIO_MAX77620=n
CONFIG_SCSI_UFSHCD=n
CONFIG_DRM_LONTIUM_LT8912B=n
CONFIG_DRM_LONTIUM_LT9611=n
CONFIG_DRM_LONTIUM_LT9611UXC=n
CONFIG_DRM_ITE_IT66121=n
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_DRM_PARADE_PS8640=n
CONFIG_DRM_SII902X=n
CONFIG_DRM_THINE_THC63LVD1024=n
CONFIG_DRM_TOSHIBA_TC358762=n
CONFIG_DRM_TI_TFP410=n
CONFIG_DRM_I2C_CH7006=n
CONFIG_DRM_I2C_SIL164=n
CONFIG_DRM_I2C_NXP_TDA998X=n
CONFIG_VIDEO_IMG_VXD_DEC=n
CONFIG_VIDEO_IMG_VXE_ENC=n
CONFIG_VIDEO_E5010_JPEG_ENC=n
